day 1/exercise 1/n8n/P1 – Basic Automation.json
{
  "name": "P1 – Basic Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "IT Service Request",
        "formDescription": "Submit your issue here",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Issue description",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Name",
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "IT support will be in touch shortly!"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "35350971-4381-4390-82a9-379b477effbd",
      "name": "On form submission",
      "webhookId": "6372ff23-24e4-43cd-8db9-4de150c9a7d5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "267dcef0-9799-47ff-b11a-dca92d81f83b",
              "name": "ID",
              "value": "={{ $json.submittedAt.toDateTime().ts.toString(36).toUpperCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "9c147b59-9038-41d2-b8d8-d3f701c8ab78",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann",
          "mode": "list",
          "cachedResultName": "tobiaszwingmann",
          "cachedResultUrl": "https://github.com/tobiaszwingmann"
        },
        "repository": {
          "__rl": true,
          "value": "demo-building-ai-workflows-and-agents-with-n8n",
          "mode": "list",
          "cachedResultName": "demo-building-ai-workflows-and-agents-with-n8n",
          "cachedResultUrl": "https://github.com/tobiaszwingmann/demo-building-ai-workflows-and-agents-with-n8n"
        },
        "filePath": "=project 1/tickets/{{ $json.ID }}.txt",
        "fileContent": "=Name: {{ $('On form submission').item.json['Your Name'] }}\n\nSubmitted: {{ $('On form submission').item.json.submittedAt }}\n\nDescription:\n{{ $('On form submission').item.json['Issue description'] }}",
        "commitMessage": "new ticket"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "7dd017c3-4394-4e02-83b4-1ec95c10336b",
      "name": "Create a file",
      "webhookId": "6b0de6a2-6f40-4566-b4c8-dc1699f32f26",
      "credentials": {
        "githubOAuth2Api": {
          "id": "rqkMAdMVwbOGDQB4",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d1148ab2-8e34-48e9-b8ce-c3310eadc2d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94e1edcc34a91a151fc2ec1b99597068a304e37fdb946fc806f00f97776fce3a"
  },
  "id": "r2vA5F0EFuAIgzuR",
  "tags": [
    {
      "createdAt": "2025-11-01T20:01:49.551Z",
      "updatedAt": "2025-11-01T20:01:49.551Z",
      "id": "t5Xu6If84iT9d4bw",
      "name": "O'Reilly n8n"
    }
  ]
}