day 1/project 1/n8n/P1 – Basic Automation.json
{
  "name": "P1 – Basic Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "IT Service Request",
        "formDescription": "Submit your issue here",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Issue description",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Name",
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "IT support will be in touch shortly!"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "7b40ffa9-57e2-4c0f-8975-017c326d92a3",
      "name": "On form submission",
      "webhookId": "c997eafa-9f30-4468-a1ce-a57a597e9659"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "267dcef0-9799-47ff-b11a-dca92d81f83b",
              "name": "ID",
              "value": "={{ $json.submittedAt.toDateTime().ts.toString(36).toUpperCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "65843252-c0fe-4ea6-a0a6-bf5816c920b3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann-demo",
          "mode": "list",
          "cachedResultName": "tobiaszwingmann-demo",
          "cachedResultUrl": "https://github.com/tobiaszwingmann-demo"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-ai-bootcamp",
          "mode": "list",
          "cachedResultName": "n8n-ai-bootcamp",
          "cachedResultUrl": "https://github.com/tobiaszwingmann-demo/n8n-ai-bootcamp"
        },
        "filePath": "=day 1/project 1/tickets/{{ $json.ID }}.txt",
        "fileContent": "=Name: {{ $('On form submission').item.json['Your Name'] }}\n\nSubmitted: {{ $('On form submission').item.json.submittedAt }}\n\nDescription:\n{{ $('On form submission').item.json['Issue description'] }}",
        "commitMessage": "new ticket"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "e728df4d-02e8-468e-931a-8b8e01054a16",
      "name": "Create a file",
      "webhookId": "6b0de6a2-6f40-4566-b4c8-dc1699f32f26",
      "credentials": {
        "githubApi": {
          "id": "dcwZECd0FxhzyJj3",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d214019b-630c-43e7-b524-5d2d47c8456e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26bf8eec37d4d0a7ee8a9b62eaf593a40b0ce784017882c7b978518d626df3a8"
  },
  "id": "Va9WweCUQwClPVKxv_hF_",
  "tags": [
    {
      "name": "O'Reilly n8n",
      "id": "1TjIuZa5ju0lNrOc",
      "updatedAt": "2026-02-08T20:46:07.403Z",
      "createdAt": "2026-02-08T20:46:07.403Z"
    }
  ]
}