project 5/n8n/P5 Document Search.json
{
  "name": "P5 Document Search",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37d91ded-ef2c-4622-a22d-a7fd7d968f86",
              "name": "response",
              "value": "={{ $json.toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d0713c4a-3856-4b37-b2ca-929d368d8ff3",
      "name": "Create Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        1296
      ]
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "support",
          "mode": "list",
          "cachedResultName": "support"
        },
        "prompt": "={{ $json.query }}",
        "options": {
          "pineconeNamespace": "it"
        }
      },
      "id": "be5e79ba-2fd5-4d58-9ee3-e64a358a4759",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1344,
        1296
      ],
      "credentials": {
        "pineconeApi": {
          "id": "42Xw4fBCjE0Z356w",
          "name": "n8n demo account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1920,
        1296
      ],
      "id": "94491718-fc23-4134-8b4f-ebe4f39767f8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "id": "7e8e8604-b660-43ee-ac06-2acd653fbb99",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1424,
        1520
      ],
      "credentials": {
        "openAiApi": {
          "id": "vIt4XIujtaBmV5aq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16f71f7b-30ff-4fd2-a949-a9e48f325997",
              "name": "Content",
              "value": "={{ $json.document.pageContent }}",
              "type": "string"
            },
            {
              "id": "dbb11963-ca77-40d7-8e75-11e0aa5be519",
              "name": "Source File",
              "value": "={{ $json.document.metadata.file_name }}",
              "type": "string"
            },
            {
              "id": "4ba0b7c6-833a-4552-8b10-af803edd1fc6",
              "name": "Page",
              "value": "={{ $json.document.metadata['loc.pageNumber'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        1296
      ],
      "id": "35c6be6a-51b9-42e8-b11c-db498ac56a9a",
      "name": "Relevant Data for Chatbot Response"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1120,
        1296
      ],
      "id": "b5fb0b35-b30b-408f-a536-e79b85495a45",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Email templates aren’t displaying dynamic fields."
        }
      }
    ]
  },
  "connections": {
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Relevant Data for Chatbot Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Relevant Data for Chatbot Response": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f81f3259-aaaa-4758-90bf-296c2d9dc215",
  "meta": {
    "instanceId": "94e1edcc34a91a151fc2ec1b99597068a304e37fdb946fc806f00f97776fce3a"
  },
  "id": "BldIrwoSsZRRggOe",
  "tags": [
    {
      "createdAt": "2025-11-01T20:01:49.551Z",
      "updatedAt": "2025-11-01T20:01:49.551Z",
      "id": "t5Xu6If84iT9d4bw",
      "name": "O'Reilly n8n"
    }
  ]
}