day 1/project 0/n8n/First workflow.json
{
  "name": "First workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "087f459a-8bda-45b8-8aa8-f9a506082323",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a38adf1d-0261-4364-9060-2a7f54de395b",
              "name": "expense",
              "value": 25,
              "type": "number"
            },
            {
              "id": "4d390c16-4682-4b0d-812b-cadd06f7b88c",
              "name": "category",
              "value": "office_supplies",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "1a538579-4ef0-46ec-93d9-93004d4603fe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8cb26e4-812c-44a6-a03e-16bccab3a6b9",
              "leftValue": "={{ $json.expense }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "83a90345-cd40-4d67-b173-ed334220026b",
              "leftValue": "={{ $json.category }}",
              "rightValue": "travel",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        0
      ],
      "id": "62cd24a4-825f-401d-94ff-6c96a9d988e9",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3aa98c20-63f8-484d-bc63-e25826ca5f7e",
              "name": "decision",
              "value": "approved",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -96
      ],
      "id": "c6f37554-41b4-45f1-9548-c713474e2944",
      "name": "Approved"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3aa98c20-63f8-484d-bc63-e25826ca5f7e",
              "name": "decision",
              "value": "rejected",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        96
      ],
      "id": "862bb33c-fe15-4a7a-acbb-5160c6be2307",
      "name": "Rejected"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "afe3d279-efda-467c-ae41-b41e840ac645",
  "meta": {
    "instanceId": "94e1edcc34a91a151fc2ec1b99597068a304e37fdb946fc806f00f97776fce3a"
  },
  "id": "qo2lEHcfzuCa0Qyf1Fboh",
  "tags": []
}