day 2/project 7/n8n/P7 – Simple Agent.json
{
  "name": "P7 – Simple Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "authentication": "n8nUserAuth",
        "initialMessages": "Welcome to our automated IT support. How can we help you today?",
        "options": {
          "inputPlaceholder": "Type your name.."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1ee17886-41c3-471d-86ba-97236100b564",
      "name": "When chat message received",
      "webhookId": "c77e78dd-64cf-4d24-86ba-74038bee07bd"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=### **Role**\n\nYou are an **IT Support Chatbot** for a corporate helpdesk.\nYou assist employees with **Windows** and **Microsoft Office** issues, and manage **support tickets**.\n\nYou can:\n\n* Troubleshoot common technical issues.\n* Decide when to **escalate** to a human IT technician.\n* **Create**, **update**, and **retrieve** tickets using your tools.\n\n---\n\n### **Conversation Flow**\n\n1. **Start** by asking whether the user already has a ticket ID.\n   * If yes → retrieve the ticket.\n   * If no → ask for the user’s **name** and **problem description**.\n\n2. **Classify the issue:**\n\n   * **Automated** → Routine or self-service problem (Windows, Office, login, Teams, etc.).\n   * **Route to IT** → Contains keywords like *hardware, repair, network down, outage, admin rights, security, virus, data loss, urgent*, or when unsure.\n\n3. **Respond:**\n\n   * If **Automated**, give clear, numbered troubleshooting steps.\n   * If **Route to IT**, say:\n\n     > “This looks like it needs a human IT technician. I’ll escalate it for you.”\n     > Then **create a ticket** and share the ID.\n\n4. **Ticket Management:**\n\n   * **Create** → when logging or escalating new issues.\n   * **Update** → when adding progress or notes.\n   * **Retrieve** → when a ticket ID is provided.\n\n---\n\n### **Details**\n* Whether a ticket is urgent or not is classified by *YOU*, not the user\n\n### **Response Style**\n\n* Short, direct, step-by-step answers.\n* Quote commands exactly (e.g., `excel /safe`).\n* Confirm after each step.\n* If unable to help, escalate politely.\n\n---\n\n### **Example**\n\n**User:** “I can’t open Excel files.”\n**Chatbot:**\n\n> Do you already have a ticket ID?\n>\n> Thanks, [Name]. Try this:\n>\n> 1. Close all Excel windows.\n> 2. Press **Windows + R**, type `excel /safe`, and press **Enter`.\n> 3. Try reopening the file.\n>\n> Did that work? If not, I can create a ticket for escalation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "e7fbe8e0-4554-4a79-bb06-32b73304315e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        224
      ],
      "id": "4ca4f222-ac11-443f-a4f1-dd011054e4b8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool to create a new ticket. Status can be \"Open\" or \"Closed\". Prio can be \"Urgent\" or \"Not Urgent\".",
        "workflowId": {
          "__rl": true,
          "value": "KL49reSx5uAm3kf5WS0X0",
          "mode": "list",
          "cachedResultUrl": "/workflow/KL49reSx5uAm3kf5WS0X0",
          "cachedResultName": "P7 – Create Ticket Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "User Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('User_Name', `Name of the user. Required to follow up later on.`, 'string') }}",
            "Issue Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Description', `Description of the problem. Required.`, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', `Current status of the ticket. Required. Allowed values: \"Open\", \"Closed\"`, 'string') }}",
            "Prio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prio', `Time criticality of the ticket. Required. Allowed values: \"Urgent\", \"Not Urgent\"`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "User Name",
              "displayName": "User Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Issue Description",
              "displayName": "Issue Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Prio",
              "displayName": "Prio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        816,
        224
      ],
      "id": "81a3f2c4-43e2-4b01-b24c-4bc4e315a14a",
      "name": "Create Ticket Tool"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update a ticket on GitHub.",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann-demo",
          "mode": "list"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-ai-bootcamp",
          "mode": "list",
          "cachedResultName": "n8n-ai-bootcamp",
          "cachedResultUrl": "https://github.com/tobiaszwingmann-demo/n8n-ai-bootcamp"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', `Tickets are stored in the directory \\`day 2/project 7/tickets/\\`.\nExample path: \"day 2/project 6/tickets/MHGPYF9K.txt\"`, 'string') }}",
        "fileContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', `Required fields: \"User Name\", \"Submitted\", \"Description\", \"Status\", \"Prio\". \nOptional fields: \"Activity Log\"\n\n## Example Ticket:\nUser Name: Tobias\n\nSubmitted: 2025-11-01T23:15:54.110+01:00\n\nDescription:\nUser Tobias cannot sign into Windows on company laptop. Device is domain-joined. User reports no access to desktop and requests immediate assistance. Unable to authenticate at login screen; needs urgent account or device support.\n\nStatus: Closed\nPrio: Urgent\n\n## Optional – Activity Log:\nWhen making updates, append an activity log like so:\n\nActivity Log:\n2025-11-01T23:15:54.110+01:00 - Ticket created (Urgent). Escalated to human IT technician for account/machine support.\n2025-11-01T23:40:00.000+01:00 - User reported: \"I can log in now! it works\". User regained access to Windows. No further action required at this time. Ticket closed.`, 'string') }}",
        "commitMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        528,
        224
      ],
      "id": "38c35899-2671-4e13-9145-21c285f1de7c",
      "name": "Update ticket",
      "webhookId": "e6dbdca7-d66c-483a-8d42-7a661f6bad8b",
      "credentials": {
        "githubApi": {
          "id": "dcwZECd0FxhzyJj3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Load a ticket from GitHub",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann-demo",
          "mode": "list"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-ai-bootcamp",
          "mode": "list",
          "cachedResultName": "n8n-ai-bootcamp",
          "cachedResultUrl": "https://github.com/tobiaszwingmann-demo/n8n-ai-bootcamp"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', `Tickets are stored in the directory \\`day 2/project 7/tickets/\\`.\nExample path: \"day 2/project 7/tickets/MHGPYF9K.txt\"`, 'string') }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        672,
        224
      ],
      "id": "b80bc79a-f7f3-4ef7-877e-c33dcd3369e0",
      "name": "Get ticket",
      "webhookId": "e6dbdca7-d66c-483a-8d42-7a661f6bad8b",
      "credentials": {
        "githubApi": {
          "id": "dcwZECd0FxhzyJj3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "**Tools**",
        "height": 208,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        176
      ],
      "typeVersion": 1,
      "id": "754d73f8-097a-4bdd-ae64-ce54fb83e90a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        224
      ],
      "id": "5ff214d0-80da-4578-b5a9-46fafd2f5ae7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UvEaHC6DxKEyYA9l",
          "name": "Google Gemini Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update ticket": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get ticket": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a36acd11-ae72-496f-8b23-b353757f23e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26bf8eec37d4d0a7ee8a9b62eaf593a40b0ce784017882c7b978518d626df3a8"
  },
  "id": "eRn4Di1FTvPMXGECOZ_h9",
  "tags": [
    {
      "updatedAt": "2026-02-08T20:46:07.403Z",
      "createdAt": "2026-02-08T20:46:07.403Z",
      "id": "1TjIuZa5ju0lNrOc",
      "name": "O'Reilly n8n"
    }
  ]
}