day 2/project 8/n8n/P8 Advanced Agent.json
{
  "name": "P8 – Advanced Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "authentication": "n8nUserAuth",
        "initialMessages": "Welcome to our automated IT support. How can we help you today?",
        "options": {
          "inputPlaceholder": "Type your name.."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        112
      ],
      "id": "cbc245cd-3509-48e4-bf11-122f0562bb4c",
      "name": "When chat message received",
      "webhookId": "6ae96f99-7787-4193-a8aa-5556fcfe37f0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=### **Role**\n\nYou are an **IT Support Chatbot** for a corporate helpdesk.\nYou assist employees with **Windows** and **Microsoft Office** issues, and manage **support tickets**.\n\nYou can:\n\n* Troubleshoot common technical issues.\n* Decide when to **escalate** to a human IT technician.\n* **Create**, **update**, and **retrieve** tickets using your tools.\n\n---\n\n### **Conversation Flow**\n\n1. **Start** by asking whether the user already has a ticket ID.\n   * If yes → retrieve the ticket.\n   * If no → ask for the user’s **name** and **problem description**.\n\n2. **Classify the issue:**\n\n   * **Automated** → Routine or self-service problem (Windows, Office, login, Teams, etc.).\n   * **Route to IT** → Contains keywords like *hardware, repair, network down, outage, admin rights, security, virus, data loss, urgent*, or when unsure.\n\n3. **Respond:**\n\n   * If **Automated**, give clear, numbered troubleshooting steps.\n   * If **Route to IT**, say:\n\n     > “This looks like it needs a human IT technician. I’ll escalate it for you.”\n     > Then **create a ticket** and share the ID.\n\n4. **Ticket Management:**\n\n   * **Create** → when logging or escalating new issues.\n   * **Update** → when adding progress or notes.\n   * **Retrieve** → when a ticket ID is provided.\n\n---\n\n### **Details**\n* Whether a ticket is urgent or not is classified by *YOU*, not the user\n\n### **Response Style**\n\n* Short, direct, step-by-step answers.\n* Quote commands exactly (e.g., `excel /safe`).\n* Confirm after each step.\n* If unable to help, escalate politely.\n\n---\n\n### **Example**\n\n**User:** “I can’t open Excel files.”\n**Chatbot:**\n\n> Do you already have a ticket ID?\n>\n> Thanks, [Name]. Try this:\n>\n> 1. Close all Excel windows.\n> 2. Press **Windows + R**, type `excel /safe`, and press **Enter`.\n> 3. Try reopening the file.\n>\n> Did that work? If not, I can create a ticket for escalation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        112
      ],
      "id": "415f3867-a82c-40be-91a9-28a6f675f43b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        336
      ],
      "id": "42f7e138-b7e6-4c0f-96e2-cfc09b54a1be",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        336
      ],
      "id": "4735bdba-b587-4547-a077-c6d1745ffb70",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vIt4XIujtaBmV5aq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to create a new ticket. Status can be \"Open\" or \"Closed\". Prio can be \"Urgent\" or \"Not Urgent\".",
        "workflowId": {
          "__rl": true,
          "value": "nnXa4MXK33973aS1",
          "mode": "list",
          "cachedResultUrl": "/workflow/nnXa4MXK33973aS1",
          "cachedResultName": "P5 Create Ticket Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "User Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('User_Name', `Name of the user. Required to follow up later on.`, 'string') }}",
            "Issue Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Description', `Description of the problem. Required.`, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', `Current status of the ticket. Required. Allowed values: \"Open\", \"Closed\"`, 'string') }}",
            "Prio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prio', `Time criticality of the ticket. Required. Allowed values: \"Urgent\", \"Not Urgent\"`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "User Name",
              "displayName": "User Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Issue Description",
              "displayName": "Issue Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Prio",
              "displayName": "Prio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        128,
        336
      ],
      "id": "e4ee9f0f-21d8-419b-a69e-abed4bd171f9",
      "name": "Create Ticket Tool"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update a ticket on GitHub.",
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann",
          "mode": "list",
          "cachedResultName": "tobiaszwingmann",
          "cachedResultUrl": "https://github.com/tobiaszwingmann"
        },
        "repository": {
          "__rl": true,
          "value": "demo-building-ai-workflows-and-agents-with-n8n",
          "mode": "list",
          "cachedResultName": "demo-building-ai-workflows-and-agents-with-n8n",
          "cachedResultUrl": "https://github.com/tobiaszwingmann/demo-building-ai-workflows-and-agents-with-n8n"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', `Tickets are stored in the directory \\`project 5/tickets/\\`.\nExample path: \"project 5/tickets/MHGPYF9K.txt\"`, 'string') }}",
        "fileContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', `Required fields: \"User Name\", \"Submitted\", \"Description\", \"Status\", \"Prio\". \nOptional fileds: \"Activity Log\"\n\n## Example Ticket:\nUser Name: Tobias\n\nSubmitted: 2025-11-01T23:15:54.110+01:00\n\nDescription:\nUser Tobias cannot sign into Windows on company laptop. Device is domain-joined. User reports no access to desktop and requests immediate assistance. Unable to authenticate at login screen; needs urgent account or device support.\n\nStatus: Closed\nPrio: Urgent\n\n## Optional – Activity Log:\nWhen making updates, append an activity log like so:\n\nActivity Log:\n2025-11-01T23:15:54.110+01:00 - Ticket created (Urgent). Escalated to human IT technician for account/machine support.\n2025-11-01T23:40:00.000+01:00 - User reported: \"I can log in now! it works\". User regained access to Windows. No further action required at this time. Ticket closed.\n\n`, 'string') }}",
        "commitMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Commit_Message', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        288,
        336
      ],
      "id": "2ad69278-dcf2-4cae-bfb4-06ee37b5bc71",
      "name": "Update ticket",
      "webhookId": "8cf67a08-26b9-47b4-bc49-6ec2af3036db",
      "credentials": {
        "githubOAuth2Api": {
          "id": "IU7axKi7sXkJzq2b",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Load a ticket from GitHub",
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann",
          "mode": "list",
          "cachedResultName": "tobiaszwingmann",
          "cachedResultUrl": "https://github.com/tobiaszwingmann"
        },
        "repository": {
          "__rl": true,
          "value": "demo-building-ai-workflows-and-agents-with-n8n",
          "mode": "list",
          "cachedResultName": "demo-building-ai-workflows-and-agents-with-n8n",
          "cachedResultUrl": "https://github.com/tobiaszwingmann/demo-building-ai-workflows-and-agents-with-n8n"
        },
        "filePath": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', `Tickets are stored in the directory \\`project 5/tickets/\\`.\nExample path: \"project 5/tickets/MHGPYF9K.txt\"`, 'string') }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        432,
        336
      ],
      "id": "da10faf7-662d-430f-b15d-6a170addec3a",
      "name": "Get ticket",
      "webhookId": "6f385f57-b741-43a3-908b-57e0e58565b8",
      "credentials": {
        "githubOAuth2Api": {
          "id": "IU7axKi7sXkJzq2b",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "**Tools**",
        "height": 208,
        "width": 656,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        288
      ],
      "typeVersion": 1,
      "id": "f1243870-2e30-43c0-aa56-5b410b2647c6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "description": "Call this tool to search the user manual of the Nova CRM software.",
        "workflowId": {
          "__rl": true,
          "value": "BldIrwoSsZRRggOe",
          "mode": "list",
          "cachedResultUrl": "/workflow/BldIrwoSsZRRggOe",
          "cachedResultName": "P5 Document Search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        592,
        336
      ],
      "id": "697e1a57-e554-4cad-971a-e73966b99bbc",
      "name": "Search CRM Manual"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update ticket": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get ticket": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search CRM Manual": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8393b698-32fc-4aea-9f30-d7013543377d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94e1edcc34a91a151fc2ec1b99597068a304e37fdb946fc806f00f97776fce3a"
  },
  "id": "C1fiAhh9VKwJbnbB",
  "tags": [
    {
      "createdAt": "2025-11-01T20:01:49.551Z",
      "updatedAt": "2025-11-01T20:01:49.551Z",
      "id": "t5Xu6If84iT9d4bw",
      "name": "O'Reilly n8n"
    }
  ]
}