day 2/project 8/n8n/P8 Document Ingestion.json
{
  "name": "P5 – Document Ingestion",
  "nodes": [
    {
      "parameters": {},
      "id": "10529b87-e49d-42e3-a321-1a6402fbbfde",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        192,
        0
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "id": "e8c7d4aa-652a-45d3-bd09-9866bc3e099f",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        864,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "vIt4XIujtaBmV5aq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "file_name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "id": "a7d8db36-32a8-42a9-8afa-3e45c2e4952e",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        992,
        224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "67e4a1e3-7750-4e8c-9b9b-45f4135db4de",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1072,
        432
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "support",
          "mode": "list",
          "cachedResultName": "support"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "it"
        }
      },
      "id": "51a9d7bc-c628-4a07-aead-163ef61027f4",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "credentials": {
        "pineconeApi": {
          "id": "42Xw4fBCjE0Z356w",
          "name": "n8n demo account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann",
          "mode": "list",
          "cachedResultName": "tobiaszwingmann",
          "cachedResultUrl": "https://github.com/tobiaszwingmann"
        },
        "repository": {
          "__rl": true,
          "value": "demo-building-ai-workflows-and-agents-with-n8n",
          "mode": "list",
          "cachedResultName": "demo-building-ai-workflows-and-agents-with-n8n",
          "cachedResultUrl": "https://github.com/tobiaszwingmann/demo-building-ai-workflows-and-agents-with-n8n"
        },
        "filePath": "project 5/documents/"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "b2cfe256-5126-48ec-b0a3-2e0f5f769cc5",
      "name": "List files",
      "webhookId": "69420ba3-bfac-4f33-bb7a-7d8c2f8dd138",
      "credentials": {
        "githubOAuth2Api": {
          "id": "IU7axKi7sXkJzq2b",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann",
          "mode": "list",
          "cachedResultName": "tobiaszwingmann",
          "cachedResultUrl": "https://github.com/tobiaszwingmann"
        },
        "repository": {
          "__rl": true,
          "value": "demo-building-ai-workflows-and-agents-with-n8n",
          "mode": "list",
          "cachedResultName": "demo-building-ai-workflows-and-agents-with-n8n",
          "cachedResultUrl": "https://github.com/tobiaszwingmann/demo-building-ai-workflows-and-agents-with-n8n"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        640,
        0
      ],
      "id": "6457b743-838b-41f1-b8ee-6729b4bcb8c2",
      "name": "Get a file",
      "webhookId": "402ef6f7-0c38-4bd3-a30f-ad17022db6f0",
      "credentials": {
        "githubOAuth2Api": {
          "id": "IU7axKi7sXkJzq2b",
          "name": "GitHub account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d023a488-2980-4cb7-aa16-75869f215154",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94e1edcc34a91a151fc2ec1b99597068a304e37fdb946fc806f00f97776fce3a"
  },
  "id": "6lz8vs8wiD4OPHTJ",
  "tags": [
    {
      "createdAt": "2025-11-01T20:01:49.551Z",
      "updatedAt": "2025-11-01T20:01:49.551Z",
      "id": "t5Xu6If84iT9d4bw",
      "name": "O'Reilly n8n"
    }
  ]
}