day 2/project 8/n8n/P8 – Document Search.json
{
  "name": "P8 – Document Search",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "bba471a8-3fd7-4c11-84a6-2e256697cd23",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        224
      ],
      "id": "95ba179f-52ad-4d9c-8c50-4bf34c2e07ef",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "UvEaHC6DxKEyYA9l",
          "name": "Google Gemini Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "prompt": "={{ $json.query }}",
        "topK": 5,
        "options": {
          "pineconeNamespace": "it"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "id": "ab5618d3-611f-4725-8332-6df777b83e9c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HUZXJZlHg4Yt9GPO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bacda26-fb9e-4856-908f-3dd7f020c4de",
              "name": "Content",
              "value": "={{ $json.document.pageContent }}",
              "type": "string"
            },
            {
              "id": "499fce40-a391-4b29-94bd-5324c0743454",
              "name": "Source File",
              "value": "={{ $json.document.metadata.file_name }}",
              "type": "string"
            },
            {
              "id": "5d3b3b0f-4c8e-423f-84ba-3da6dd654ed4",
              "name": "Page",
              "value": "={{ $json.document.metadata['loc.pageNumber'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        0
      ],
      "id": "557238bd-c4ad-4b3a-acf7-aeff36e4f26a",
      "name": "Relevant Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "58449361-d091-4fc1-9ada-b90c69166fc9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0be016d4-3484-4916-bd0e-879b57afef02",
              "name": "response",
              "value": "={{ $json.toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        0
      ],
      "id": "bd49d44e-c077-4ef8-a777-f73a2d8298b9",
      "name": "Response"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Email templates aren’t displaying dynamic fields."
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Relevant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relevant Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "385b6123-06bc-472e-bccb-65f2377de83b",
  "meta": {
    "instanceId": "26bf8eec37d4d0a7ee8a9b62eaf593a40b0ce784017882c7b978518d626df3a8"
  },
  "id": "b7x7mCDlW8NK_kxMCYvH6",
  "tags": [
    {
      "updatedAt": "2026-02-08T20:46:07.403Z",
      "createdAt": "2026-02-08T20:46:07.403Z",
      "id": "1TjIuZa5ju0lNrOc",
      "name": "O'Reilly n8n"
    }
  ]
}