day 1/project 3/n8n/P2 – Simple Classifier.json
{
  "name": "P2 – Simple Classifier",
  "nodes": [
    {
      "parameters": {
        "formTitle": "IT Service Request",
        "formDescription": "Submit your issue here",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Issue description",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Name",
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "IT support will be in touch shortly!"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -176,
        0
      ],
      "id": "56aa30a9-b909-4c97-803c-be24e9cdf4ad",
      "name": "On form submission",
      "webhookId": "e95a29a7-68d4-44a6-a0ab-1accf35e4e55"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "267dcef0-9799-47ff-b11a-dca92d81f83b",
              "name": "ID",
              "value": "={{ $json.submittedAt.toDateTime().ts.toString(36).toUpperCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        0
      ],
      "id": "5b453205-ea18-4ee9-980e-6d6ebc581a11",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann",
          "mode": "list",
          "cachedResultName": "tobiaszwingmann",
          "cachedResultUrl": "https://github.com/tobiaszwingmann"
        },
        "repository": {
          "__rl": true,
          "value": "demo-building-ai-workflows-and-agents-with-n8n",
          "mode": "list",
          "cachedResultName": "demo-building-ai-workflows-and-agents-with-n8n",
          "cachedResultUrl": "https://github.com/tobiaszwingmann/demo-building-ai-workflows-and-agents-with-n8n"
        },
        "filePath": "=project 2/tickets/{{ $('Edit Fields').item.json.ID }}.txt",
        "fileContent": "=Prio: {{ $json.output.prio }}\n\nName: {{ $('On form submission').item.json['Your Name'] }}\n\nSubmitted: {{ $('On form submission').item.json.submittedAt }}\n\nDescription:\n{{ $('On form submission').item.json['Issue description'] }}",
        "commitMessage": "new ticket"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "50355582-162f-4499-a01a-792eacb94914",
      "name": "Create a file",
      "webhookId": "0b3813e2-6615-4593-95c6-35c19c3333ee",
      "credentials": {
        "githubOAuth2Api": {
          "id": "rqkMAdMVwbOGDQB4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Issue:\n\n```\n{{ $('On form submission').item.json['Issue description'] }}\n```",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=### **Role**\n\nYou are a text classification system for an IT support helpdesk.\nYour task is to read an incoming support ticket and classify it as either **\"Urgent\"** or **\"Not urgent\"** based on the content.\n\n### Classification Rules:\n\n* **Urgent** if the ticket describes:\n\n  * Complete system or network outages.\n  * Inability to perform critical work tasks.\n  * Security breaches or data loss.\n  * Hardware failure affecting essential operations.\n  * Issues impacting multiple users or key business functions.\n  * Time-sensitive problems needing immediate attention.\n\n* **Not urgent** if the ticket describes:\n\n  * Minor bugs or usability issues.\n  * Requests for information, training, or feature changes.\n  * Scheduled maintenance or non-critical updates.\n  * Problems with available workarounds.\n  * Single-user issues not blocking essential tasks.\n\n### Output Format:\n\nRespond **only** with one of the following labels:\n\n* `Urgent`\n* `Not urgent`\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        272,
        0
      ],
      "id": "f5373121-15a4-4433-b8f3-b1cd20086f4d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        224
      ],
      "id": "e110eec5-504b-42a8-8db7-f8550ed4090b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rFPczAX325tav6wj",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"prio\": \"Urgent\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        224
      ],
      "id": "17fc20a2-cf42-43b4-af9a-723775dc510c",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Issue description": "I can't log into my account",
          "Your Name": "Sabrina",
          "submittedAt": "2025-11-01T21:08:53.050+01:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8438d71f-3bb8-49c7-9732-5148b71018ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94e1edcc34a91a151fc2ec1b99597068a304e37fdb946fc806f00f97776fce3a"
  },
  "id": "5Zuvei0w0Jx8RuXc",
  "tags": [
    {
      "createdAt": "2025-11-01T20:01:49.551Z",
      "updatedAt": "2025-11-01T20:01:49.551Z",
      "id": "t5Xu6If84iT9d4bw",
      "name": "O'Reilly n8n"
    }
  ]
}