day 2/project 9/n8n/P9 – Create Ticket Tool.json
{
  "name": "P9 – Create Ticket Tool",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "267dcef0-9799-47ff-b11a-dca92d81f83b",
              "name": "ID",
              "value": "={{ $now.ts.toString(36).toUpperCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        256
      ],
      "id": "096b5cdc-ab2f-4afd-9977-d7b285edcd7e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann-demo",
          "mode": "list"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-ai-bootcamp",
          "mode": "list",
          "cachedResultName": "n8n-ai-bootcamp",
          "cachedResultUrl": "https://github.com/tobiaszwingmann-demo/n8n-ai-bootcamp"
        },
        "filePath": "=day 2/project 9/tickets/{{ $json.ID }}.txt",
        "fileContent": "=User Name: {{ $('When Executed by Another Workflow').item.json['User Name'] }}\n\nSubmitted: {{ $now }}\n\nDescription:\n{{ $('When Executed by Another Workflow').item.json['Issue Description'] }}\n\nStatus: {{ $('When Executed by Another Workflow').item.json.Status }}\nPrio: {{ $('When Executed by Another Workflow').item.json.Prio }}",
        "commitMessage": "new ticket"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        496,
        256
      ],
      "id": "d2c81ebb-250e-4f34-b11b-963e40ad740e",
      "name": "Create a file",
      "webhookId": "ec184fe4-dd26-4406-b13f-81495dcdccf5",
      "credentials": {
        "githubApi": {
          "id": "dcwZECd0FxhzyJj3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "User Name"
            },
            {
              "name": "Issue Description"
            },
            {
              "name": "Status"
            },
            {
              "name": "Prio"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        256
      ],
      "id": "43682ecc-a77b-47b5-8990-600de584c572",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "User Name": "Tobias",
          "Issue Description": "My laptop fell down and is broken now",
          "Status": "Open",
          "Prio": "Urgent"
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "12be9cc5-8690-45c4-aeee-fdf681cdf482",
  "meta": {
    "instanceId": "26bf8eec37d4d0a7ee8a9b62eaf593a40b0ce784017882c7b978518d626df3a8"
  },
  "id": "ah7dXuK9cgvjps2j",
  "tags": [
    {
      "updatedAt": "2026-02-08T20:46:07.403Z",
      "createdAt": "2026-02-08T20:46:07.403Z",
      "id": "1TjIuZa5ju0lNrOc",
      "name": "O'Reilly n8n"
    }
  ]
}